.password-layout {
  padding-top: 80px;
  display: flex;
  height: 100vh;
  margin-bottom: 100px;

}


.password-sidebar {
  width: 250px;
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.password-main {
  flex-grow: 1;

  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
}