
 .MDmoviestyle-body{
    background-color: rgb(60, 60, 60);
    padding: 24px;
  }

  .MDmoviestyle-text{
    color:white;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .mdmoviestyle-img-wrapper {
    width: 1300px;
    height: 595px;
    position: relative;
  }
  
  .mdmoviestyle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mdmoviestyle-img-wrapper:before {
    content: "";
    position: absolute;
    width: 102%;
    height: 100%;
    background: transparent;
    background-size: 100% 100%;
    left: -1%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    box-shadow: inset 0 0 0 0 #151728, inset 0 -100px 150px 0 #151728;
  }

  .moviestyle-text-small{
    font-size: 16px;
    color: #c7d1da;
  }
  
  .faYoutube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .mshr-style{
    background-color: white;
    height: 2px;
    border: none;
    margin: 10px auto;
  }
  .msborder-style{
    border: 1px solid rgb(134, 198, 255); 
    border-radius: 8px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
  }

  .ms-dispaly-none{
    display: none;
  }

  .MDmoviestyle-text-small{
    font-size: 1rem;
  }

  .ms-more-button {
    background: none;
    border: none;
    color: #007bff;
    padding: 0;
    font-size: 1.1rem; 
  }
  
  .ms-more-button:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .ms-large-title {
    font-size: 3rem; 
    font-weight: bold; 
  }
  
  .ms-md-title{
    font-size: 2.7rem;
  }